<section
  ng-controller="angularPagesController"
  ng-app="angularPages">
  <ul>
    <li ng-repeat="thing in things">
      {{thing.name}}
    </li>
  </ul>
</section>

<%= javascript_include_tag "angular-pages/application" %>
